$main__color: #6cc6c4;
$main__bg__color: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);

body {
  font-size: 62.5%;
  background-color: #F6F6F6;
  border-top: solid 10px #6cc6c4;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
.container {
  width: 920px;
  margin: 0 auto;
}

@include mq-down($breakpoint: md) {
  .container {
    width: auto;
    margin: 0 15px;
  }
}
