.main {
  display: flex;
  justify-content: space-between;
}
/* サイドバー */ 
.category__title {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  background-image: $main__bg__color;
}
.category__list {
  background-color: #ffffff;
  border: solid 1px $main__color;
  margin-bottom: 20px;
  padding-bottom:20px;
}
.category__item {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: solid 1px $main__color;
  .category__menu {
    font-size: .8rem;
    color: #000000;
  }
  .square {
    display: inline-block;
    margin: 0 5px;
    font-size: .7rem;
    color:  $main__color;
  }
}
.aside__category1--hover:hover {
  .category__menu {
    color: $main__color;
  }
}
.aside__category2--hover:hover {
  .category__menu {
    color: #84b934;
    
  }
}

/* ニュース */
.main__inner1 {
  width: 250px;
}
.section__news {
  margin-top: 10px;
}
.section__image {
  width: 640px;
  .main__img {
    max-width: 100%;
    height: auto;
  }
}
.section__news {
  background-color: #ffffff;
  width: 640px;
}
.section__inner {
  padding: 40px 20px;
}
.news__title {
  font-size: 1.25rem;
  padding-bottom: 30px;
  /* _base.scss */
  border-bottom: $main__color 4px solid;
}
.news__list {
  margin:30PX 0 10px;
  width: 40vw;
}
.news {
  font-size: .8rem;
}
.news__date {
  font-weight: bold;
  float: left;
}
.news__text {
  padding-left: 150px;
  padding-bottom: 10px;
  border-bottom: lightgray 1px solid;
  margin: 10px 0;
}
/* コンタクト */
.main__contact {
  background-color: $main__color;
  margin-top: 30px;
  border-radius: 5px;
}

@include mq-down($breakpoint: md) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main__inner1 {
    width: 100%;
  }
  .category__title {
    font-size: 1.25rem;
  }
  .category__item 
  .category__menu {
    font-size: 1rem;
  }
  .section__image {
    width: 603px;
    margin: 0 auto;
    .main__img {
      max-width: 100%;
      height: auto;
    }
  }
  .section__news {
    margin-bottom: 40px;
  }
  .section__news,
  .news__list {
    width: auto;
  }
  .news__text  {
    padding: 40px 0 10px;
  }
}